body {
  font-size: 15px;
}
main {
  overflow-x: hidden !important;
}
a {
  text-decoration: none;
  color: #9ec5fe;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #9ec5fe;
}
.cursor-pointer {
  cursor: pointer;
}
.sidebar-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sidebar {
  text-align: center;
  max-width: 350px;
}
.border-gray {
  border-color: rgba(255, 255, 255, 0.11) !important;
}
@media (min-width: 768px) {
  .sidebar-menu li {
    width: 200px;
    text-align: left;
    display: inline-block;
  }
}
.popover-dark {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
}
.popover-dark .popover-header {
  background-color: #444;
  color: #fff;
  border-bottom: 1px solid #555;
}
.popover-dark .popover-body {
  color: #fff;
}
.border-post {
  border-color: rgba(var(--bs-secondary-rgb), 0.3) !important;
}
.avatar-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/*
PROFILE*/
.profile-coverphoto {
  object-fit: cover;
  max-height: 200px;
}
.profile-avatar {
  width: 150px;
  height: 150px;
  bottom: -50px;
  left: 20px;
  border: 2px solid white;
}
.profile-tabs {
  margin-left: -1rem;
  margin-right: -1rem;
}
.profile-tabs .nav-item:first-child {
  width: 1rem;
}
.profile-tabs .nav-link {
  padding: 0.5rem 2rem;
}
@media (max-width: 550px) {
  .profile-tabs .nav-link {
    padding: 0.5rem 1rem;
  }
}
.stats {
  color: rgba(255, 255, 255, 0.44);
}
.stats .stats-like .placed {
  font-weight: 1000;
  color: #a3cfbb;
}
.stats .stats-repost .placed {
  font-weight: 1000;
  color: #f5c2c7;
}