/*comment box */
.dark-textarea {
  background-color: #343a40;
  color: #ffffff;
  border: 1px solid #495057;
}
.dark-textarea:focus {
  background-color: black;
  color: #ffffff;
  border: 1px solid #495057;
}
.dark-textarea::placeholder {
  color: #ced4da;
}
.form-floating > .form-control:focus {
  padding-top: 2.2rem;
  min-height: 75px;
}
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 0.625rem !important;
}
.form-floating > .form-control:not(:placeholder-shown) + label {
  display: none;
}
#mentions-context-menu {
  display: none;
  position: absolute;
  background: #343a40;
  border: 1px solid #495057;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: clip;
}
#mentions-context-menu div {
  padding: 8px 12px;
  cursor: pointer;
  color: #ffffff;
}
#mentions-context-menu div:hover {
  background-color: black;
}
.emphasized-statement {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
/*embedded */
.social-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: black;
  margin-bottom: 1rem;
}
.social-container iframe,
.social-container blockquote,
.social-container .fb-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.social-container iframe {
  background-color: black;
}
.tiktok-container {
  margin-bottom: 1rem;
  position: relative;
  padding-bottom: 50vh;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.tiktok-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  max-width: 100%;
  height: 50vh;
  border: 0;
}
.twitter-tweet {
  max-width: min(95%, 550px) !important;
}