@using BitMinistry.Data.Wrapper
@{ 

    var usr = Session.GetString("Username").LoadEntity<AppUser>( x => x.Username );

}

<form method="post">



    <div class="card text-bg-dark mb-3">
        <div class="card-header border-secondary">Verify email for <b>@usr.Username</b></div>
        @if (Session.GetString("WeSentYouTheVerificationCode") == "True")
        {
            <div class="card-header border-danger">We sent you the verification code</div>
            
            Session.Remove("WeSentYouTheVerificationCode");
        }
        <div class="card-body">


            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input name="Username" class="form-control" readonly value="@usr.NuEmail">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Verification code</label>
                <div class="col-sm-9">
                    <input class="form-control" type="number" min="1000" max="9999" step="1" name="EmailVerificationCode">
                </div>
            </div>

        </div>

        <div class="card-footer bg-transparent p-3 border-primary">



            <div class="row mode-register">
                <div class="col-auto">
                    <button name="act" value="verifycode" type="submit" class="btn btn-primary">Verify</button>
                </div>
                <div class="col-auto">
                    <button name="act" value="nucode" type="submit" class="btn btn-outline-primary">Get new code </button>
                </div>
            </div>



        </div>

    </div>





</form>
